<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio</title>
    <link rel="stylesheet" href="https://mohamedalmahmoud.github.io/portfolio/style.css">
    
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    
    

  </head>
<body>
    <!-- Votre contenu ici -->
    <center><h1>Mohamed ALMAHMOUD</h1><h4>Data scientist | Data analyst </h4><h6>Docteur en didactique des mathématiques</h6></center>
    <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="../images/image1.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image2.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image3.png" style="width:100%">
        </div>
        </div>
        <br>
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>
        <script>
        let slideIndex = 0;
        showSlides();
        
        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 3000); // Change image every 3 seconds
        }
        </script>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="../Projects/index.html">Projets</a></li>
                <li><a href="../Competences/templates/index.html">Compétences</a></li>
                <li><a href="../CV/index.html">CV</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section id="competences">
            <h2>Compétences</h2>
                <p>Depuis 2012, je cumule des compéténces polyvalents. En effet,
                     alors que je me suis concentré sur ma thèse à l'époque,
                      la création des sites internet, la création des applications,
                       l'apprentissage des languages de programmation, etc. se développaient 
                       en parallèle. Tout cela m'a permis de me reconvertir facilment en Data
                        science en début de 2021. C'est l'effet de boule de neige. Voici un apperçu
                         des mes compétences polyvalentes:</p>                   
                        
                <ol class="c">
                    <li>Python</li>
                    <p>Je suis fasciné par la résolution des CLASH of CODE sur le site <a href="https://bit.ly/3XOasgz"> CodInGame</a>. 
                      J'arrive au niveau 25 où j'ai résolu plus de 70 quiz en Python. De plus, je suis un certificat en Python. 
                      Voici un de mes codes pour un quiz: Il s'agit </p>
                     
                     <form  method="post" action="/resultat">
                      <label>  Entrez votre mot de passe:   <input id = "mdp" type="text" name="mdp">         </label>
                      <input type="submit" value="Vérifier">
                      </form>
                      {% if resultat %}
                      <div id="resultat">
                          <p>{{ resultat }}</p>
                      </div>
                      {% endif %}
                      <iframe src="https://trinket.io/embed/python/1f42d2de8d?toggleCode=true&runOption=run" width="70%" height="400" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>                      <li>Wordpress</li>
                    <li>Applications</li>
                </ol>
        </section>

    </main>   
    <script>
    let HTMLBox = document.getElementById("HTMLBox");
    let HTMLButton = document.getElementById("HTMLButton");
      HTMLButton.onclick = function () {
        HTMLBox.select();
        document.execCommand("copy");
        HTMLButton.innerText = "Code copié";
      };

    </script>

<script src="../script.js"></script>
<script src="https://mohamedalmahmoud.github.io/portfolio/prism.js"></script>
</body>
</html>
