<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <title>Mon Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <center><h1>Mohamed ALMAHMOUD</h1><h4>Data scientist | Data analyst </h4><h6>Docteur en didactique des mathématiques</h6></center>
    <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="../images/image1.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image2.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image3.png" style="width:100%">
        </div>
    </div>
        <br>
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>

        
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="#">Compétences</a></li>
                <li><a href="projets.html">Projets</a></li>
                <li><a href="cv.html">CV</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <section id="competences">
            <h2>Compétences</h2>
                <p>Depuis 2012, je cumule des compéténces polyvalents. Alors que je me concentrais sur ma thèse à l'époque,
                      je m'amusais en parallèle à apprendre la création des sites internet, la création des applications,
                       l'apprentissage des langages de programmation, etc.  Tout cela m'a permis de me reconvertir facilment en Data
                        science en début de 2021. C'est l'effet boule de neige. Voici un apperçu
                         des mes compétences polyvalentes:</p>                   
                        
                <ol class="c">
                    <li>Langages et framework</li>
                    <table>
                      <colgroup>

                        <col>
                        <col style="width:700px">
                        
                      </colgroup>
                        
                      <tr>
                        <td>
                        <div class ="type-machine">La formation que j'ai faite d'octobre 2021 à septembre 2022 m'a permis de développer des compétences dans les langages de programmation tels que Python, SQL. De plus, ma passion pour la data devient une droguqe et me pousse à progresser en faisant des projets sur Kaggle ou GitHub. Vous pouvez jeter un coup d'oeil sur mes projets dans <a href="/templates/projets.html">la page dédiée.</a> 
                        </td>
                        <td>
                        <div class = "container"><img class ="bellImg" src="../images/langages_framework.png" alt="Image"> </div>
                        </td>
                      </tr>     
                    </table>
                      <br><br>
                    <li>Applications</li>
                </ol>
        </section>

    </main>   
  <script src="../script.js"></script>

</body>
</html>
