<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <center><h1>Mohamed ALMAHMOUD</h1><h4>Data scientist | Data analyst </h4><h6>Docteur en didactique des mathématiques</h6></center>
    <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="../images/image1.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image2.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image3.png" style="width:100%">
        </div>
    </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
        
        
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="competences.html">Compétences</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="cv.html">CV</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="projets">
            <h2>Projets</h2>
            <div class="type-machine">Bienvenue dans ma page de projets ! .</div>

            <h4>Projet 1: Flask API</h4>
            <p>
                J'essayais d'éxecuter un code python, ici, dans les pages GitHub. 
                Le code de python tente de vérifier si l'entrée d'un "input" respecte bien certaines conditions:<br>
                - avoir au moins une Majuscule;<br>
                - avoir au moins 5 chiffres;<br>
                - avoir moins de 15 caractères<br>
                Mais malheureusement, ces pages sont statistiques et n'acceptent pas le script python.
                Donc, il faut un serveur python pour éxecuter le code. La solution est d'utiliser un mini framework flask.
                Aussi, on a besoin de déployer flask en ligne (production).
                Je cherchais une solution gratuite et une alternative à Herkou qui devient pyant. 
                Heureusement, <a href="https://render.com/">Render</a> est là pour déployer mon projet hébergé sur GitHub.
                On peut trouver le projet complet <a href="https://github.com/MohamedALMAHMOUD/flaskapi"> ICI</a>. 
                <br>Pour tester directement le projet c'est simple, on peut aller sur <a href ="https://flask-ahaz.onrender.com"> le site</a>,
                on tape un mot de passe et on appuie sur le bouton. Ensuite, on aura le résultat si le mot de passe respecte ou non les conditions requises.
                <br>Aussi, je voluais integrer le projet, ici, dans mon portfolio. C'est-à-dire, je veux utiliser une API pour communiquer un front end (mon portfolio)
                et un back end , le serveur python (Render). <br>Enfin, en tapant un mot de passe dans le cadre ci-dessous puis cliquer sur le bouton, une requette HTTP envoie
                le mot de passe au serveur deployé sur Render via l'API. On reçoit la réponse et l'affiche juste en dessous du cadre.<br>
                &#9888; : Juste une petite remarque. Comme le serveur est gratuit, il prend un peu de temps pour répondre.
                
            </p>
            <form  id = "passwordForm" >
                <label>  Entrez votre mot de passe:   <input id = "mdp" type="text" name="mdp"></label>
                <button type="button" onclick="sendRequest()">Vérifier votre mot de passe</button>
            </form>
            <center>
                <div id="responseDiv">En attente de la réponse...</div>                    
            </center>
            <h4>Projet 2</h4>
            <p> Projet en cours. Vous pouvez regarder tous mes projets sur <a href="https://github.com/MohamedALMAHMOUD"> GitHub</a></p>
        </section>        
    </main>

    
    <script src="../script.js"></script>

</body>
</html>
