<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <center><h1>Mohamed ALMAHMOUD</h1><h4>Data scientist | Data analyst </h4><h6>Docteur en didactique des mathématiques</h6></center>
    <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="../images/image1.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image2.png" style="width:100%">
        </div>
        <div class="mySlides fade">
          <img src="../images/image3.png" style="width:100%">
        </div>
    </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
        
        
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="competences.html">Compétences</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="cv.html">CV</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="projets">
            <h2>Projets</h2>
            <div class="type-machine">Bienvenue dans ma page de projets ! .</div>

            <p>Contenu du projet 1</p>
            <form  id = "passwordForm" >
                <label>  Entrez votre mot de passe:   <input id = "mdp" type="text" name="mdp"></label>
                <button type="button" onclick="sendRequest()">Vérifier votre mot de passe</button>
            </form>
            <center>
                <div id="responseDiv">En attente de la réponse...</div>                    
            </center>
            <p>Contenu du projet 2</p>
        </section>        
    </main>

    
    <script src="../script.js"></script>

</body>
</html>
